@page "/login"
@using Application.DTOs
@using Application.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@using Web.Services
@inject NavigationManager Navigation
@inject LocalStorageService localStorage
@inject AuthenticationStateProvider AuthProvider
@rendermode InteractiveServer

<div class="login-page-wrapper">
    <div class="registration-card">
        <h2>Bejelentkezés</h2>

        <EditForm FormName="LoginForm" Model="@loginDto" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />

            <div class="input-group">
                <label>Email vagy Felhasználónév</label>
                <InputText @bind-Value="loginDto.EmailOrUserName" class="form-control" placeholder="Azonosító" />
                <ValidationMessage For="@(() => loginDto.EmailOrUserName)" class="validation-message" />
            </div>

            <div class="input-group">
                <label>Jelszó</label>
                <div class="password-wrapper">
                    <InputText @bind-Value="loginDto.Password" type="password" class="form-control" placeholder="******" />
                </div>
                <ValidationMessage For="@(() => loginDto.Password)" class="validation-message" />
            </div>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="server-error">@errorMessage</div>
            }

            <div class="actions">
                <button type="submit" disabled="@isSubmitting">
                    @(isSubmitting ? "Folyamatban..." : "Belépés")
                </button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private LoginDto loginDto = new();
    private string? errorMessage;
    private bool isSubmitting = false;

    [Inject] private IAuthService AuthService { get; set; } = null!;

    private async Task HandleLogin()
    {
        isSubmitting = true;
        errorMessage = null;

        try
        {
            var user = await AuthService.LoginAsync(loginDto.EmailOrUserName, loginDto.Password);

            if (user != null)
            {
                await localStorage.SetItemAsync("currentUser", user.UserName);

                var customAuth = (CustomAuthStateProvider)AuthProvider;
                customAuth.NotifyUserLogin(user.UserName);

                Navigation.NavigateTo("/");
            }
            else
            {
                errorMessage = "Hibás felhasználónév vagy jelszó.";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Hiba: {ex.Message}");
            errorMessage = "Hálózati hiba történt.";
        }
        finally
        {
            isSubmitting = false;
        }
    }
}